* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #d9dcd6;
  }
  /* Header styles, includes fot size, font family and colour */
  
  .header {
    padding: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
  }
  /* Header 1 font size*/
  .header h1 {
    display: inline-block;
    font-size: 48px;
  }
  /* Header 1 text colour*/
  .header h1 .seo {
    color: #d9dcd6;
  }
  /* Header section, nav bar adjustments to make it look in place*/
  .header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
  }
  /* nav links */
  .header nav ul {
    list-style-type: none;
  }
  
  .header nav ul li {
    display: inline-block;
    margin-left: 25px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  p {
    font-size: 16px;
  }